html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --header-height: 76px;
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  width: 100vw;
}

main {
  min-height: -webkit-fill-available;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

.title {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 20px;
}

#h1-tag {
  display: inline;
  font-size: 19px;
  font-weight: 700;
}

.section-title-span {
  background-size: 100% 5%;
  background-repeat: repeat-x;
  background-position: left 0% bottom 10%;
  background-image: linear-gradient(
    90deg,
    #007ced 0%,
    #007ced 15%,
    #007ced 30%,
    #333 30%
  );
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 78%;
}

.container-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-message {
  margin-left: 10px;
  padding-left: 20px;
  text-align: left;
  max-width: 38vw;
  margin: 0 20px 20px 20px;
  line-height: 1.6;
}

.container-message-details {
  font-weight: 400;
  font-size: 17px;
  font-family: inherit;
  color: #d5d5d5;
  width: inherit;
  margin: 0;
}

.about-img {
  max-width: 300px;
  border-radius: 2%;
  object-fit: contain;
}

.logo {
  margin-left: 20px;
  margin-right: 10px;
  width: 40px;
}

.btn {
  color: #f5f5f5;
  font-size: 15px;
  background-color: #333333;
  padding: 9px 29px 9px 29px;
  border-radius: 25px;
  border: 2px solid #007ced;
  font-family: inherit;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  margin-top: 27px;
  cursor: pointer;
}

.btn:hover {
  background-color: #007ced;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header {
  display: block;
  padding-bottom: 10px;
  background-color: #222222;
  height: 76px;
  z-index: 500;
  border-bottom: 2px solid #333;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222222;
  margin-top: 30px;
  margin-bottom: 10px;
}

.nav-item {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #bfbfbf;
  padding: 0;
  margin: 12px 34px 12px 34px;
  position: relative;
}

.nav-item::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #f5f5f5;
  width: 100%;
  bottom: 0;
  left: 0;
  display: block;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover {
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::before {
  transform: scaleX(1);
}

.container-img {
  margin-right: 20px;
  max-width: 500px;
  max-height: 500px;
  min-width: 0;
}

.container-nav {
  justify-content: flex-end;
  background-color: #222222;
  margin-right: 10px;
  margin-left: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 90px;
}

.content {
  margin: auto;
  width: 82%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

form {
  width: 60%;
}

.form-item {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  width: 100%;
  resize: vertical;
  font-weight: 400;
  font-family: inherit;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid #bfbfbf;
  border-color: #555;
  color: #d5d5d5;
  display: block;
  border-radius: 5px;
  padding: 10px;
  box-shadow: none;
  margin: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-item:focus {
  outline: none;
  color: #d5d5d5;
  border: 2px solid #007ced;
  transition: 0.4s width ease-in-out;
  transition: border-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #252525;
}

label {
  display: block;
  margin-top: 4px;
  margin-bottom: -17px;
  font-weight: 500;
  color: #f1f0f0;
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: #f5f5f5;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 90%;
}

textarea {
  resize: none;
  min-height: 20px;
  height: 180px;
}

footer {
  display: block;
  background-color: #252525;
  border-color: #333;
  margin-top: 60px;
  border-top: 2px solid #333;
  position: absolute;
  width: 100vw;
  left: 0;
  padding: 10px 0 10px 0;
}

.Footer-content-copyright {
  font-size: 14px;
  font-family: inherit;
  color: #ddd;
  float: right;
}

.form-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Footer-content {
  display: flex;
  flex-direction: row;
  color: #929292;
  font-size: 15px;
  font-weight: 300;
  align-items: center;
}

.social {
  color: #929292;
  padding: 10px;
  margin: 5px;
}

.social-name
{
  margin-left: 5px;
}

.social:hover {
  color: #ddd;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#About {
  margin-top: 100px;
  margin-bottom: 100px;
}

#projects-message-link,
#about-college-link,
#about-sbilab-link {
  position: relative;
  color: #298ce6;
  text-decoration: none;
  font-weight: 500;
}

.card-body-title-link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin: 3px 7px 10px 0;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007ced;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.project-details {
  display: flex;
  width: 50%;
  justify-content: center;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 20px;
  background-color: #282828;
  border-radius: 8px;
  border: 2px solid #444;
  width: 90%;
  max-width: 87%;
  line-height: 1.5;
}

.card-image {
  max-width: 110px;
  max-height: 110px;
  width: 110px;
  height: 110px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.project {
  margin: 0;
}

.all-cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.card-body-details {
  font-size: 16px;
  font-weight: 400;
  color: #d5d5d5;
  margin: 7px 0 5px 0;
}

.subtitle {
  margin-top: 4px;
  color: #bfbfbf;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.ft-para
{
  font-size: 17px;
  color: #f1f0f0;
  display: block;
  padding-bottom: 10px;
}

/*------------- MAKE RESPONSIVE ---------------*/

@media screen and (max-width: 1024px) {
  .all-cards {
    flex-direction: column;

    margin-top: 30px;
    width: 100%;
  }

  .container-message-details {
    font-size: 16px;
  }

  .project-details {
    width: 100%;
  }
  form {
    width: 80%;
  }

  .form-item {
    width: 95%;
  }
  .content {
    width: 100%;
  }
  .Footer {
    flex-direction: column;
  }

  #header-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img {
    max-width: 250px;
  }

  .container-img {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .card {
    flex-direction: row;
  }

  .container-message {
    max-width: 100%;
  }

  .container-nav {
    flex-direction: row;
    justify-content: center;
  }

  .nav-item {
    font-size: 15px;
  }

  .card-body-title-link {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    margin: 3px 7px 10px 0;
  }

  .social {
    padding: 5px;
    margin: 8px;
  }

  .title{
    font-size: 45px;
  }

  #projects-message,
  label {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {

  .Footer-content-links {
    font-size: 14px;
  }

  footer {
    width: 100vw;
  }

  .Footer {
    padding: 2px;
  }

  .section-title {
    font-size: 36px;
  }

  .logo {
    width: 25px;
  }

  .nav-item {
    left: 0;
    margin: 5px 10px 10px 10px;
  }
}

@media screen and (max-width: 450px) {
  #About {
    margin-top: 40px;
    margin-bottom: 90px;
  }

  .card {
    flex-direction: column;
  }

  .card-body {
    margin: 15px 5px 0 5px;
  }

  .nav-item {
    font-size: 15px;
  }

  .card-body-title-link {
    margin-left: 0;
  }
}
