html{
  height: 100%;
  margin: 0; padding: 0;
}

body
{
  background-color: #222222;
  height:100%;
  overflow: auto;
  margin: 0; padding: 0;
  width: 99%
}

main
{
  min-height: -webkit-fill-available;
  font-family: poppins;
  color: #ffffff;
}


.title
{
  font-weight:500;
  font-size:48px;
  margin-bottom: 20px;
}

span{
  background-size:  100% 5%;
background-repeat: repeat-x;
background-position: left 0% bottom 10%;
}

span {
  background-image: linear-gradient(90deg, #007ced 0%, #007ced 12.5%, #007ced 25%, #333 25%);
}

.container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 100%;
}


.container-message
{
  text-align: left;
  max-width: 35vw;
  margin: 20px;
}

.container-message-details
{
  font-weight: 400;
  font-size: 14px;
  font-family: poppins;
  color: #d5d5d5;
  width: inherit;
  margin: 0;
}

img{
  margin: 80px;
  margin-right: 0;
  max-width: 80%;
  width: 100%;
  height:auto;
}

.btn
{
  color: #f5f5f5;
  font-size: 14px;
  background-color: #333333;
  padding: 9px 29px 9px 29px;
  border-radius: 25px;
  border: 2px solid #007ced;
  font-family: poppins;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  margin-top:27px;
}

.btn:hover{
  background-color: #007ced;
  -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

header{
  display: block;
  padding-bottom: 30px;
  background-color: #222222;
}


.header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.nav-item
{
  font-family: poppins;
  font-size: 15px;
  text-decoration: none;
  color: #969696;
  padding: 20px;
  margin: 20px;
}

.nav-item:active
{
  color: #ffffff;
}

.nav-item:hover{
  color: #f5f5f5;
  -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}



.container-nav
{
  justify-content: flex-end;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 30px;
}

.sticky + .content {
  padding-top: 90px;
}

.content{
  margin: auto;
  width: 82%;
  padding: 10px;
}

form{
  width: 55%;

}


.form-item
{
  -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
  width: 100%;
  resize: vertical;
  font-weight: 300;
  font-family: poppins;
  font-size: 13px;
  background-color: transparent;
  border: 2px solid #bfbfbf;
  border-color: #555;
  color: #d5d5d5;
  display: block;
  border-radius: 5px;
  padding: 10px;
  box-shadow: none;
  margin:0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-item:focus{
  outline:none;
  color: #d5d5d5;
  border:2px solid #007ced;
  transition: .4s width ease-in-out;
  transition: border-color .30s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #252525;
}

label{
  display: block;
  margin-top: 4px;
  margin-bottom: -17px;
}

.section-title
{
  font-size: 40px;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 35px;

}

.contact-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;;
}

textarea
{
  resize: none;
}

footer{
  display: block;
  background-color: #252525;
  border-color: #333;
  margin-top:60px;
  padding: 15px 45px;
  border-top: 2px solid #333;
  position: absolute;
  width: 93.5vw;
  left:0;
}

.Footer-content-copyright
{
  
  font-size: 13px;
  font-family: poppins;
  color:#ddd;
  float:right;
}

.form-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Footer-content-links
{
  display: flex;
  flex-direction: row;
  color: #929292;
  font-size: 14px;
  align-items: center;
}

.social
{
  color: #929292;
  padding:10px;
  margin: 5px;
}

.Footer
{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}


#About
{
  margin-bottom: 100px;
}