html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 99%;
  overflow-x: hidden;
}

:root {
  --header-height: 76px;
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

main {
  min-height: -webkit-fill-available;
  font-family: Open Sans;
  color: #ffffff;
}

.title {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 20px;
}

span {
  background-size: 100% 5%;
  background-repeat: repeat-x;
  background-position: left 0% bottom 10%;
}

span {
  background-image: linear-gradient(
    90deg,
    #007ced 0%,
    #007ced 15%,
    #007ced 30%,
    #333 30%
  );
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 100%;
}

.container-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-message {
  text-align: left;
  max-width: 40vw;
  margin: 0 20px 20px 20px;
}

.container-message-details {
  font-weight: 500;
  font-size: 16px;
  font-family: Open Sans;
  color: #d5d5d5;
  width: inherit;
  margin: 0 30px 0 0;
  line-height: 1.6;
}

#projects-message {
  font-size: 17px;
  display: inline;
  text-align: center;
}

.about-img {
  padding: 10px;
  max-width: 90%;
  max-height: 90%;
  width: 100%;
  min-width: 0;
  object-fit: contain;
}

#logo-details {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.logo {
  margin-left: 20px;
  margin-right: 10px;
  max-width: 13%;
  width: 12%;
}

.btn {
  color: #f5f5f5;
  font-size: 15px;
  background-color: #333333;
  padding: 9px 29px 9px 29px;
  border-radius: 25px;
  border: 2px solid #007ced;
  font-family: Open Sans;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  margin-top: 27px;
}

.btn:hover {
  background-color: #007ced;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header {
  display: block;
  padding-bottom: 10px;
  background-color: #222222;
  height: 76px;
  z-index: 500;
  border-bottom: 2px solid #333;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222222;
  margin-top: 30px;
  margin-bottom: 10px;
}

.nav-item {
  font-family: Open Sans;
  font-size: 15px;
  text-decoration: none;
  color: #bfbfbf;
  padding: 0;
  margin: 12px 34px 12px 34px;
  position: relative;
}

.nav-item::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #f5f5f5;
  width: 100%;
  bottom: 0;
  left: 0;
  display: block;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover {
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::before {
  transform: scaleX(1);
}

.container-img {
  max-width: 500px;
  max-height: 500px;

  min-width: 0;
}

.container-nav {
  justify-content: flex-end;
  background-color: #222222;
  margin-right: 10px;
  margin-left: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 90px;
}

.content {
  margin: auto;
  width: 82%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

form {
  width: 60%;
}

.form-item {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  width: 100%;
  resize: vertical;
  font-weight: 400;
  font-family: Open Sans;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid #bfbfbf;
  border-color: #555;
  color: #d5d5d5;
  display: block;
  border-radius: 5px;
  padding: 10px;
  box-shadow: none;
  margin: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-item:focus {
  outline: none;
  color: #d5d5d5;
  border: 2px solid #007ced;
  transition: 0.4s width ease-in-out;
  transition: border-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #252525;
}

label {
  display: block;
  margin-top: 4px;
  margin-bottom: -17px;
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: #f5f5f5;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 90%;
}

textarea {
  resize: none;
  min-height: 20px;
  height: 180px;
}

footer {
  display: block;
  background-color: #252525;
  border-color: #333;
  margin-top: 60px;
  padding: 15px 45px;
  border-top: 2px solid #333;
  position: absolute;
  width: 93.5vw;
  left: 0;
}

.Footer-content-copyright {
  font-size: 14px;
  font-family: Open Sans;
  color: #ddd;
  float: right;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Footer-content-links {
  display: flex;
  flex-direction: row;
  color: #929292;
  font-size: 15px;
  align-items: center;
}

.social {
  color: #929292;
  padding: 10px;
  margin: 5px;
}

.social:hover {
  color: #ddd;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#About {
  margin-top: 100px;
  margin-bottom: 100px;
}

#projects-message-link {
  position: relative;
  color: #298ce6;
  text-decoration: none;
  font-weight: 500;
}

.card-body-title-link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  margin: 3px 7px 10px 0;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007ced;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.project-details {
  display: flex;
  width: 50%;
  justify-content: center;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 20px 20px 20px;
  background-color: #282828;
  border-radius: 8px;
  border: 2px solid #444;
  width: 90%;
  max-width: 87%;
}

.card-image {
  max-width: 110px;
  max-height: 110px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.project {
  margin: 0;
}

.all-cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card-body-details {
  font-size: 14px;
  font-weight: 400;
  color: #e7e7e7;
  margin: 7px 0 5px 0;
}

.subtitle {
  margin-top: 4px;
  color: #bfbfbf;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

/*------------- MAKE RESPONSIVE ---------------*/

@media screen and (max-width: 1024px) {
  .all-cards {
    flex-direction: column;

    margin-top: 50px;
    width: 100%;
  }

  .project-details {
    width: 100%;
  }
  form {
    width: 80%;
  }

  .form-item {
    width: 95%;
  }
  .content {
    width: 100%;
  }
  .Footer {
    flex-direction: column;
  }

  #header-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img {
    max-width: 70%;
  }
  .container-img {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .container-message {
    max-width: 100%;
  }

  .container-nav {
    flex-direction: row;
    justify-content: center;
  }

  .logo-details {
    font-weight: 400px;
    font-size: 10px;
  }

  .nav-item {
    font-size: 15px;
    text-decoration: none;
    color: #969696;
    padding: 0;
    margin: 20px 10px 10px 10px;
    position: relative;
  }
  .card-body-title-link {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin: 3px 7px 10px 0;
  }

  .logo {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .Footer-content-links {
    font-size: 14px;
  }

  .header {
    flex-direction: column;
    border-bottom: 2px solid #333;
  }

  footer {
    padding: 15px 10px;
    width: 98%;
  }

  .Footer {
    padding: 0px;
  }

  .logo {
    margin-left: 20px;
    margin-right: 10px;
    max-width: 5%;
    width: 5%;
  }

  .container-img {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .card {
    flex-direction: column;
  }
  .card-body {
    margin: 15px 5px 0 5px;
  }

  .nav-item {
    font-size: 14px;
    margin: 10px 7px 10px 7px;
  }

  .card-body-title-link {
    margin-left: 0;
  }
}
